*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.navGen{
    /* display: flex; */
    background-color: #171717;
    width: 100%;
    height: 100vh;  
}
.logoSec{
    display: flex;
    align-items: center;
    margin-left: 120px;
}
.logoSec img{
    width: 3%;
}